<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Panel</title>

    <!-- Google Font: Source Sans Pro -->

    <link rel=" stylesheet" href="/user/main.fed11d0c.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





</head>

<body>


    <div id="root">
        <div class="position-relative content-wrapper">
            <div class="page-header"
                style="background-image:url(/media/mob-view-img.fb05bdea1ecbbe025c52.png);height:15% ;">

                <h4 class="m-0">Statement</h4>
                <p class="m-0"><span>
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"  font-weight="bold"  border: "5px solid currentColor"
                     class="bi bi-wallet" viewBox="0 0 16 16"> 
<path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 
.5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
</svg>
                    </span><span>money in wallet</span></p>
            </div>

    
        <div class="main">
            <div class="content-wrapper" style="padding: 25px; background-color: #EEEDF2;">
                <div class="col-12" style="padding: 25px; background-color: #FFFFFF;">
                    <div class="row">
                        <div class="col-md-6">
                            <b>ENGLAND V INDIA (4TH TEST)</b>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <b><i style="color: green; font-size: 20px;" class="fas fa-arrow-alt-circle-up"></i></b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                            Date:<b>02/09/2021</b>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            Time:<b>03:30 PM</b>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            Won By:
                        </div>
                    </div>
                </div>
                <div class="col-12" style="padding: 20px; background-color: #F6F5F7;">
                    <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                            MATCH BETS<br />
                            7
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            SESSION BETS:<br />
                            3
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            WON/LOST COINS:<br />
                            570
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar">
                <div class="navbar-wrapper">
                    <ul class="mob-navbar">
                        <li><a href="home"><i class="fa fa-home" style="font-size:15px"></i><span
                                    style="font-size: 8px;">Dashboard</span>
                            </a></li>
                        <li><a href="home">
                                <i class="fa fa-play" aria-hidden="true" style="font-size:15px"></i><span
                                    style="font-size: 8px;">In
                                    Play</span>
                            </a></li>
                        <li><a href="ledgers">
                                <i class="fa fa-dashboard" style="font-size:15px"></i></box-icon><span
                                    style="font-size: 8px;">My
                                    Ledger</span>
                            </a></li>
                        <li><a href="#">
                                <i class="fa fa-edit" style="font-size:15px"></i><span
                                    style="font-size: 8px;">Complete</span>
                            </a></li>
                        <li><a href="profile">
                                <i class="nav-icon fas fa-user" style="font-size:15px"></i>
                                <span style="font-size: 8px;">Profile</span>
                            </a></li>
                        <li><a href=".html">
                                <i class="fa fa-sign-out" aria-hidden="true" style="font-size:22px"></i><span
                                    style="font-size: 8px;">Logout</span>
                            </a></li>
                    </ul>
                </div>
        </div>
        </nav>
</body>

</html>