<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=" stylesheet" href="/user/main.fed11d0c.css">
    <title>11HUB</title>

    <!--Get your own code at fontawesome.com-->

</head>

<body>


    <div id="root">
        <div class="position-relative content-wrapper">
            <div class="page-header"
                style="background-image:url(/media/mob-view-img.fb05bdea1ecbbe025c52.png);height:15% ;">
                
                <h4 class="m-0">My Legders</h4>
                <p class="m-0"><span>
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"  font-weight="bold"  border: "5px solid currentColor"
                     class="bi bi-wallet" viewBox="0 0 16 16"> 
<path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 
.5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
</svg>
                    </span><span>money in wallet</span></p>
            </div>

            <div class="container-fluid table-responsive">
                <table class="ledger table table-striped table-bordered table-hover">


                    <thead>
                         
                        <tr>
                            <th scope="col">Date </th>
                            <th scope="col">Remark</th>
                            <th scope="col">Won by</th>
                            <th scope="col">Won</th>
                            <th scope="col">Lost</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <th scope="row"></th>
                            <td style="font-weight: bold;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                                                     
                    </tbody>
                </table>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-wrapper">
                <ul class="mob-navbar">
                    <li><a href="/home"><i class="fa fa-home" style="font-size:15px"></i><span
                                style="font-size: 8px;">Dashboard</span>
                        </a></li>
                    <li><a href="/home">
                            <i class="fa fa-play" aria-hidden="true" style="font-size:15px"></i><span
                                style="font-size: 8px;">In
                                Play</span>
                        </a></li>
                    <li><a href="/ledgers">
                            <i class="fa fa-dashboard" style="font-size:15px"></i></box-icon><span
                                style="font-size: 8px;">My
                                Ledger</span>
                        </a></li>
                    <li><a href="/completed">
                            <i class="fa fa-edit" style="font-size:15px"></i><span
                                style="font-size: 8px;">Complete</span>
                        </a></li>
                    <li><a href="/profile">
                            <i class="nav-icon fas fa-user" style="font-size:15px"></i>
                            <span style="font-size: 8px;">Profile</span>
                        </a></li>
                    <li><a href="/login">
                            <i class="fa fa-sign-out" aria-hidden="true" style="font-size:15px"></i><span
                                style="font-size: 8px;">Logout</span>
                        </a></li>
                </ul>
            </div>
    </div>
    </nav>



</body>

</html>

</html>