<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=" stylesheet" href="/user/main.fed11d0c.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
   
  
  
</head>

<body class="">
    <div id="root">
        <div class="position-relative content-wrapper">
            <div class="page-header"
                style="background-image:url(/media/mob-view-img.fb05bdea1ecbbe025c52.png);height:15% ;">

                <h4 class="m-0">Profile</h4>
                <p class="m-0"><span>
                     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"  font-weight="bold"  border: "5px solid currentColor"
                     class="bi bi-wallet" viewBox="0 0 16 16"> 
<path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 
.5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
</svg>
                    </span>
                    <span>money in wallet</span></p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="p-0 col-sm-12">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button type="button" aria-expanded="true"
                                        class="accordion-button">Personal Information</button></h2>
                                <div class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <div class="form-group profile-info"><label><b>Client Code</b></label>
                                            <p>C1087</p>
                                        </div>
                                        <div class="form-group profile-info"><label>Username</label>
                                            <p>JaIn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button type="button" aria-expanded="false"
                                        class="accordion-button collapsed">Company Information</button></h2>
                                <div class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="form-group profile-info"><label><b>Helpline Number</b></label>
                                            <p> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button type="button" aria-expanded="false"
                                        class="accordion-button collapsed">Rate Information</button></h2>
                                <div class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="form-group profile-info"><label><b>Rate Difference</b></label>
                                            <div class="d-flex justify-content-between"><select>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select><button type="button"
                                                    class="btn btn-primary btn-sm">Update</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button to Open the Modal -->
                    <div class="mt-4 col-sm-12"> 
        <button type="button" class="w-100 btn btn-outline-primary" data-toggle="modal" data-target="#myModal">
            Change Password
        </button></div>
                </div>
                

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
         <div class="modal-dialog">
        <div class="modal-content">
 <div role="dialog" aria-modal="true" class="fade modal show" tabindex="-1"aria-labelledby="contained-modal-title-vcenter" style="display: block;">
          <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title h4" id="contained-modal-title-vcenter">Change Password</div>
                                    <button type="button" class="btn-close" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <div
                                        class="toast-container position-absolute top-0 start-50 translate-middle-x p-3 position-fixed">
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="m-auto col-lg-4 col-md-6 col-sm-7 col-12">
                                                <form class="">
                                                    <div class="my-2">
                                                        <div class="mb-3 input-group"><span
                                                                class="bg-light-opacity input-group-text">
                                                                <i class="fa fa-key"
                                                                    style="font-size:14px;color:#358ad8"></i>
                                                            </span><input placeholder="Current Password"
                                                                name="old_password" type="password"
                                                                class="form-control"></div>
                                                    </div>
                                                    <div class="my-2">
                                                        <div class="mb-3 input-group"><span
                                                                class="bg-light-opacity input-group-text">

                                                                <i class="fa fa-key"
                                                                    style="font-size:14px;color:#358ad8"></i>
                                                            </span><input placeholder="New Password" name="password"
                                                                type="password" class="form-control"></div>
                                                    </div>
                                                    <div class="my-2">
                                                        <div class="mb-3 input-group"><span
                                                                class="bg-light-opacity input-group-text">
                                                                <i class="fa fa-key"
                                                                    style="font-size:14px;color:#358ad8"></i>
                                                            </span><input placeholder="Confirm Password"
                                                                name="confirm_password" type="password"
                                                                class="form-control"></div>
                                                    </div><button type="submit"
                                                        class="w-100 mt-4 btn btn-outline-primary">Change
                                                        Password</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"><button type="button" class="btn btn-danger"
                                        data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-wrapper">
                <ul class="mob-navbar">
                     <li><a href="/home"><i class="fa fa-home" style="font-size:15px"></i><span
                                style="font-size: 8px;">Dashboard</span>
                        </a></li>
                    <li><a href="/home">
                            <i class="fa fa-play" aria-hidden="true" style="font-size:15px"></i><span
                                style="font-size: 8px;">In
                                Play</span>
                        </a></li>
                    <li><a href="/ledgers">
                            <i class="fa fa-dashboard" style="font-size:15px"></i></box-icon><span
                                style="font-size: 8px;">My
                                Ledger</span>
                        </a></li>
                    <li><a href="/completed">
                            <i class="fa fa-edit" style="font-size:15px"></i><span
                                style="font-size: 8px;">Complete</span>
                        </a></li>
                    <li><a href="/profile">
                            <i class="nav-icon fas fa-user" style="font-size:15px"></i>
                            <span style="font-size: 8px;">Profile</span>
                        </a></li>
                    <li><a href="/login">
                            <i class="fa fa-sign-out" aria-hidden="true" style="font-size:15px"></i><span
                                style="font-size: 8px;">Logout</span>
                        </a></li>
                </ul>
            </div>
    </div>
    </nav>

</body>

</html>