<html>
<head>
     <link rel=" stylesheet" href="/user/main.fed11d0c.css">    
</head>

<body data-rr-ui-modal-open="" class="modal-open" style="overflow: hidden;">
    
    <div class="fade modal-backdrop show"></div>
    <div role="dialog" aria-modal="true" class="fade welcome-screen modal show" tabindex="-1"
        style="display: block; padding-left: 15px;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="text-center modal-body">
                    <h4>Welcome To</h4>
                    <h5 class="mb-5">11Hub</h5>
                    <p class="text-primary">अगर कोई सेशन रनिंग मै चल रहा है और टीम जीत जाती है या आलआउट हो जाती है तो
                        सेशन डिक्लेअर होगा।</p><a href="/policy">
                        <button type="button" class="w-100 btn btn-primary">CONTINUE</button></a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>